apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

configMapGenerator:
  # Init script for database initialization
  - name: rayuela-init-db
    files:
      - init-db.sh
  
  # SQL seed data files
  - name: rayuela-sql-data
    files:
      - sql/central-data.sql
      - sql/cargos-data.sql
      - sql/conceptos-data.sql
      - sql/tenant1-data.sql
      - sql/tenant2-data.sql
